@model BookViewModel

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add Book</title>
  <link href="" rel="stylesheet">
</head>

<body>
  <div class="form-container">
    <form method="POST" asp-action="AddBook" enctype="multipart/form-data">
      <label>Book Title:</label>
      <input asp-for="Title" type="text" placeholder="Book Title" required />
      <label>Book Description:</label>
      <textarea asp-for="Description" placeholder="Book Description" required> </textarea>
      <label>Book Genre:</label>
      <select asp-for="Genre" asp-items="Html.GetEnumSelectList<Genre>()" required>
      </select>
      <label>Author Name:</label>
      <input asp-for="Author" type="text" placeholder="Author Name" required />
      <label>Publication Date:</label>
      <input asp-for="PublicationDate" type="date" placeholder="Publication Date" required />
      <label>Book File(pdf only):</label>
      <input asp-for="BookFile" type="file" accept="application/pdf" required />
      <button type="submit">Add Book</button>
    </form>
  </div>
</body>

</html>
