.add-book {
  border: 1px solid #00ff00;
  text-decoration: none;
  color: #fff;
  background-color: #00dc00;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
}


.add-book:hover {
  background-color: #00bb00;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

th,
td {
  padding: 10px 13px;
  text-align: left;
}

.book-details {
  text-decoration: none;
  color: blue;
}

.book-details:hover {
  color: darkblue;
  text-decoration: underline;
}
